<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Legend of Zelda: Ocarina of Time Relationship Chart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="js/main.js"></script>
</head>
<body>
    <div class="container">
        <div class="left-side">
            <object type="image/svg+xml" data="images/zelda_characters.svg" class="characters"></object>
        </div>
        <div class="right-side">
            <object type="image/svg+xml" data="images/logo.svg" class="logo"></object>
            {{{ body }}}
            <object type="image/svg+xml" data="images/legend.svg" class="legend"></object>
        </div>
    </div>
</body>
</html>